## The following requirements were added by pip freeze:
appnope
backcall
cycler
debugpy
decorator
entrypoints
et-xmlfile
eurocodepy
fonttools
ipykernel
ipython
ipython-genutils
jedi
jupyter-client
jupyter-core
kiwisolver
matplotlib
matplotlib-inline
nest-asyncio
numpy
openpyxl
packaging
pandas
parso
pexpect
pi
pickleshare
Pillow
prompt-toolkit
ptyprocess
Pygments
pyparsing
python-dateutil
pytz
pyzmq
scipy
seaborn
six
tornado
traitlets
wcwidth
